#app{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    columns: #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 0 auto;
}
a:active{
    color:orange;
}
nav{
    padding-top: 20px;
}
.tablerows{
   border: 1px solid rgb(15, 113, 194); 
}
.tableColumns{
    border-right: 1px solid  rgb(15, 113, 194);
}
.margin-top-20px{
    margin-top: 20px;
}
.width100pc{
    width:100%;
}